@media (min-width: 650px) {
  #Dashboard {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
  }

  .dropdown-div-desktop {
    visibility: visible;
    position: relative;
  }

  html {
    background: #e5e5e5 !important;
  }
}

@media (min-width: 1100px) {
  #Dashboard {
    max-width: 1100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  body {
    overflow: scroll !important;
  }

  .dashboard-header {
    padding: 0 5rem;
  }

  .dashboard-desktop-detail {
    visibility: visible !important;
    position: relative !important;
  }

  .dashboard-header-desktop {
    visibility: visible !important;
    position: relative !important;
    font: 400 13px Open Sans;
    color: #ffff;
  }

  .dashboard-logo-div {
    gap: 10%;
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .dashboard-logo-div a :hover {
    filter: brightness(0.94);
  }

  .dropdown-div-mobile {
    visibility: hidden;
    position: fixed;
  }

  .dashboard-header-div {
    justify-content: space-between;
  }

  .profile-div {
    width: 20%;
    justify-content: space-evenly;
  }
  .dropdown-div-desktop {
    visibility: visible !important;
    position: relative !important;
    background: #210e6441;
    border-radius: 10%;
  }
  .dropdown-div-desktop button h4 {
    color: #ffff;
  }

  .dropdown-div-desktop button :hover {
    filter: brightness(0.92);
  }

  .profile-div img {
    width: 70%;
    height: 70%;
  }

  .dashboard-main {
    max-width: 1336px;
    margin-top: 2% !important;
    padding-bottom: 0 !important;
    align-self: center;
    justify-self: center;
  }

  .message-div {
    max-width: 1093px;
    width: 80% !important;
    height: 290px !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-around;
  }

  .greetings h3 {
    font: 400 22px Poppins;
  }

  .greetings h2 {
    font: 700 22px Poppins;
  }

  .dashboard-text {
    padding-top: 2%;
  }

  .dashboard-text-p {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    padding-left: 0;
  }

  .dashboard-text-p {
    visibility: hidden;
    position: fixed;
  }

  .dashboard-text-p p {
    font-size: 2px;
  }

  .dashboard-text-desktop {
    visibility: visible !important;
    position: relative !important;
    font: 400 17px Open Sans;
    color: #343434;
  }
  .dashboard-text-desktop p {
    width: 100%;
  }

  .group-img-desktop {
    visibility: visible !important;
    position: relative !important;
  }

  .duble-shape-div {
    align-self: flex-end;
    padding-right: 0 !important;
    margin-bottom: 0 !important;
    align-self: flex-start;
    position: absolute;
    margin-top: 2%;
    left: 104px;
  }

  .cards-div {
    height: 100%;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 1px;
    background: #e5e5e5;
    padding: 0 2rem;
  }

  .dashboard-footer {
    height: 30% !important;
  }

  .dashboard-footer-desktop {
    visibility: visible !important;
    position: relative !important;
  }
  .dashboard-footer p {
    font: 400 10px Open Sans;
  }
  .dashboard-footer p:nth-child(2) {
    font: 700 10px Open Sans;
  }
}
