@media (min-width: 650px) {
  #Dashboard {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
  }

  .dropdown-div-desktop {
    visibility: visible;
    position: relative;
  }

  html {
    background: #e5e5e5 !important;
  }

  .dashboard-header {
    width: 100%;
    background: #7a57fd;
  }

  .dashboard-desktop-detail {
    visibility: hidden;
    position: fixed;
  }

  .dashboard-desktop-detail img {
    width: 80%;
    height: 80%;
  }

  .dashboard-header-desktop {
    visibility: hidden;
    position: fixed;
  }

  .dashboard-header-div {
    padding: 0 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .profile-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .dropdown-div-desktop {
    visibility: hidden;
    position: fixed;
  }

  .dashboard-main {
    width: 100%;
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #e5e5e5;
    padding-bottom: 5%;
  }

  .message-div {
    background: #ffff;
    width: 400px;
    height: 341px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset;
  }

  .dashboard-text-desktop {
    visibility: hidden;
    position: fixed;
  }

  .duble-shape-div {
    align-self: flex-end;
    padding-right: 10px;
    margin-bottom: -15%;
  }

  .duble-shape-div img {
    width: 140px;
    height: 110px;
  }

  .dashboard-text {
    align-self: flex-end;
    width: 380px;
    height: 221px;
  }

  .greetings {
    padding-left: 2%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
  }

  .greetings h3 {
    font: 400 32px Poppins;
    color: #200e64;
    white-space: nowrap;
  }

  .greetings h2 {
    font: 700 32px Poppins;
    color: #200e64;
    white-space: nowrap;
    padding-left: 3%;
  }

  .greetings h3:nth-child(3) {
    color: #ffd74f;
    white-space: normal;
  }

  .dashboard-text-p {
    padding-top: 8%;
    padding-left: 2%;
  }
  .dashboard-text-p p {
    font: 400 22px Open Sans;
    color: #343434;
  }

  .group-img-desktop {
    visibility: hidden;
    position: fixed;
  }

  .dashboard-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    background: #ffff;
    gap: 5px;
  }

  .dashboard-footer p {
    font: 400 18px Open Sans;
  }
  .dashboard-footer p:nth-child(2) {
    font: 700 18px Open Sans;
  }

  .dashboard-footer-desktop {
    visibility: hidden;
    position: fixed;
  }
}

@media (min-width: 1100px) {
  #Dashboard {
    max-width: 1100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll !important;
  }

  .dashboard-header {
    padding: 0 5rem;
  }

  .dashboard-desktop-detail {
    visibility: visible !important;
    position: relative !important;
  }

  .dashboard-header-desktop {
    visibility: visible !important;
    position: relative !important;
    font: 400 13px Open Sans;
    color: #ffff;
  }

  .dashboard-header-desktop a {
    text-decoration: none;
    color: #ffff;
  }

  .dashboard-logo-div {
    gap: 8%;
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .dashboard-logo-div a :hover {
    filter: brightness(0.94);
  }

  .dropdown-div-mobile {
    visibility: hidden;
    position: fixed;
  }

  .dashboard-header-div {
    justify-content: space-between;
  }

  .profile-div {
    width: 20%;
    justify-content: space-evenly;
  }
  .dropdown-div-desktop {
    visibility: visible !important;
    position: relative !important;
    background: #210e6441;
    border-radius: 10%;
  }
  .dropdown-div-desktop button h4 {
    color: #ffff;
  }

  .dropdown-div-desktop button :hover {
    filter: brightness(0.92);
  }

  .profile-div img {
    width: 70%;
    height: 70%;
  }

  .dashboard-main {
    max-width: 1336px;
    margin-top: 2% !important;
    padding-bottom: 0 !important;
    align-self: center;
    justify-self: center;
  }

  .message-div {
    max-width: 1093px;
    width: 80% !important;
    height: 290px !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-around;
  }

  .greetings {
    padding-left: 0;
  }

  .greetings h3 {
    font: 400 22px Poppins;
  }

  .greetings h2 {
    font: 700 22px Poppins;
  }

  .dashboard-text {
    padding-top: 2%;
  }

  .dashboard-text-p {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    padding-left: 0;
  }

  .dashboard-text-p {
    visibility: hidden;
    position: fixed;
  }

  .dashboard-text-p p {
    font-size: 2px;
  }

  .dashboard-text-desktop {
    visibility: visible !important;
    position: relative !important;
    font: 400 17px Open Sans;
    color: #343434;
  }
  .dashboard-text-desktop p {
    width: 100%;
  }

  .group-img-desktop {
    visibility: visible !important;
    position: relative !important;
  }

  .duble-shape-div {
    align-self: flex-end;
    padding-right: 0 !important;
    margin-bottom: 0 !important;
    align-self: flex-start;
    margin-top: 2%;
  }

  .cards-div {
    height: 100%;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 1px;
    background: #e5e5e5;
    padding: 0 2rem;
  }

  .dashboard-footer {
    height: 30% !important;
  }

  .dashboard-footer-desktop {
    visibility: visible !important;
    position: relative !important;
  }
  .dashboard-footer p {
    font: 400 10px Open Sans;
  }
  .dashboard-footer p:nth-child(2) {
    font: 700 10px Open Sans;
  }
}
