#Dashboard {
  width: 100vw;
  height: 100vh;
  background: #e5e5e5;
}

header {
  width: 100vw;
  background: #7a57fd;
}

.dashboard-header {
  padding: 0.2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
}

main {
  margin-top: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.message-div {
  background: #ffff;
  width: 420px;
  height: 321px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.duble-shape-div {
  align-self: flex-end;
  padding-right: 10px;
}

.duble-shape-div img {
  width: 140px;
  height: 110px;
}

.dashboard-text {
  position: absolute;
  margin-top: 10%;
  width: 380px;
  height: 221px;
}
.dashboard-text h3 {
  font: 700 32px Poppins;
  color: #200e64;
  white-space: nowrap;
}
.dashboard-text-p p {
  font: 400 20px Open Sans;
}
