.lessions-div {
  width: 35%;
  height: 70%;
  background: #cfc9e9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.lessions-div p {
  font: 700 16px Open Sans;
}

@media (min-width: 1100px) {
  .lessions-div p {
    font: 700 11px Open Sans;
  }
  .lessions-div {
    width: 35%;
    height: 25px;
  }
}
