@media (min-width: 650px) {
  #Home-page {
    max-width: 1100px;

    display: flex;
    flex-direction: column;
  }

  .menu {
    visibility: hidden;
  }

  .Header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
    padding: 1rem;
    margin-top: 2%;
  }

  .NavBar {
    visibility: visible;
    position: absolute;
    max-width: 1100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo-info {
    justify-self: flex-end;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20%;
  }

  .header-logo-info {
    display: flex;
    width: 200px;
    flex-direction: row;
    justify-content: space-between;
  }

  .header-logo-info a {
    text-decoration: none;
    font: 400 14px Open Sans;
    color: #ffff;
  }

  .getstarted-button {
    visibility: visible;
  }

  .getstarted-button h2 {
    font: 400 12px Open Sans;
  }
  .main-mobile {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    gap: 15%;
  }

  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .Title {
    display: flex;
  }

  .Title h2 {
    font: 700 30px Poppins;
    font-weight: 100;
  }

  .Title h1 {
    color: #ffeaa4;
    font: 700 38px Poppins;
  }
  .Text {
    margin-top: 5%;
    position: relative;
    visibility: visible;
    font: 400 16px Poppins;
    font-weight: 100;
  }
  .input-text-div {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .SearchBox {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .SearchBox input {
    max-width: 605px;
    border-radius: 5px;
    color: #ffff;
    font: 400 2rem Open Sans;
  }

  .SearchBox input ::placeholder {
    text-align: center;
    text-justify: distribute;
    color: #ffff;
    font: 400 2rem Poppins;
  }

  .search-content {
    padding-top: 5%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    grid-gap: 0;
    gap: 1%;
    margin-left: 2%;
  }

  .Option {
    margin-top: auto;
  }

  .search-button-mobile {
    visibility: hidden;
    position: fixed;
  }

  .search-button-desktop {
    visibility: visible;
    position: relative;
  }

  .Student-img {
    margin-top: 2%;
    position: relative;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Student-img img {
    width: 120%;
    height: 30%;
  }

  footer {
    margin: auto;
    width: 100%;
    height: 250px;
    background: #200e64;
  }
}

@media (min-width: 1100px) {
  #Home-page {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  body {
    overflow: hidden;
  }

  .menu {
    visibility: hidden;
  }

  .Header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
    padding: 1rem;
    margin-top: 2%;
  }

  .NavBar {
    visibility: visible;
    position: absolute;
    max-width: 1100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo-info {
    justify-self: flex-end;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20%;
  }

  .header-logo-info {
    display: flex;
    width: 200px;
    flex-direction: row;
    justify-content: space-between;
  }

  .header-logo-info a {
    text-decoration: none;
    font: 400 14px Open Sans;
    color: #ffff;
  }

  .getstarted-button {
    visibility: visible;
  }

  .getstarted-button h2 {
    font: 400 12px Open Sans;
  }
  .main-mobile {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    gap: 5%;
  }

  .main-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
    width: 100%;
    height: 100%;
  }

  .detail-img {
    visibility: visible;
    display: flex;
  }

  .detail-img img {
    align-self: flex-end;
  }

  .search-container {
    display: flex;
    margin-right: 15%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .Title {
    display: flex;
  }

  .Title h2 {
    font: 700 30px Poppins;
    font-weight: 100;
  }

  .Title h1 {
    color: #ffeaa4;
    font: 700 38px Poppins;
  }
  .Text {
    margin-top: 5%;
    position: relative;
    visibility: visible;
    font: 400 14px Poppins;
    font-weight: 100;
  }
  .input-text-div {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .SearchBox {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .SearchBox input {
    max-width: 605px;
    border-radius: 5px;
    color: #ffff;
    font: 400 2rem Open Sans;
  }

  .search-content {
    padding-top: 5%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    gap: 3%;
  }

  .Option {
    margin-top: auto;
  }

  .search-button-mobile {
    visibility: hidden;
    position: fixed;
  }

  .Student-img-mobile {
    visibility: hidden;
    position: fixed;
  }

  .Student-img-desktop {
    visibility: visible;
    position: relative;
    margin-bottom: -18%;
    margin-left: 5%;
    position: relative;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .Student-img-desktop img {
    width: 500px;
    height: 700px;
  }

  main {
    margin-bottom: 5%;
  }

  footer {
    margin: auto;
    width: 100%;
    height: 250px;
    background: #200e64;
  }
}
