#Home-page {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.Header {
  display: flex;
  flex-direction: row;
  gap: 2%;
  padding: 1rem;
}

.Title {
  margin-top: 5%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  font: 400 1rem Poppins;
  color: #ffff;
}

.Title h2 {
  font-weight: 100;
}

.Title h1 {
  color: #ffeaa4;
  font: 700 2rem Poppins;
}
.SearchBox {
  margin-top: 10%;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SearchBox input {
  max-width: 85%;
  border-radius: 5px;
  color: #ffff;
  font: 400 1rem Open Sans;
}

.Option {
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.Option-div {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 160px;
  height: 55px;
  color: #ffff;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  border: 1px solid #ffff;
}

.Student-img {
  margin-top: 15%;
  display: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Student-img img {
  width: 100%;
}

footer {
  width: 100%;
  height: 110px;
  margin-top: -20%;
  background: #200e64;
}
