#login-modal {
  margin-left: 15%;
  margin-top: 4%;
  width: 335px;
  height: 620px;
  background: #6a40e4;
}

.modal-button-desktop {
  visibility: hidden;
  position: fixed;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Auth {
  padding: 1rem;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font: 400 14px Poppins;
  color: #ffff;
  gap: 20px;
}

.Auth input {
  color: #ffff;
  font: 400 18px Open Sans;
}

.username-input {
  width: 90%;
}

.password-input {
  width: 90%;
}

.login-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  color: #ffff;
}

.login-title h2 {
  font: 400 28px Poppins;
  font-weight: 100;
}

.login-title h1 {
  color: #ffeaa4;
  font: 700 32px Poppins;
}

.CloseButton {
  align-self: flex-start;
}

@media (min-width: 1100px) {
  #login-modal {
    padding: 1rem;
    max-width: 100%;
    margin-left: 25%;
    width: 625px;
    height: 479px;
    align-self: center;
    justify-self: center;
    position: absolute;
    display: flex;
    flex-direction: column;
  }
  .modal-button-mobile {
    visibility: hidden;
    position: fixed;
  }

  .modal-button-desktop {
    visibility: visible;
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    width: 536px;
  }
}
